<!DOCTYPE html>
<html lang="">
<head>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/app_javascript.js"></script>
    <script>
        function change_size() {
            document.getElementById('id1').size = '3'

        }
        function change_size_return() {
            document.getElementById('id1').size = '1'
        }
    </script>
    <script>
        function change_size_2() {
            document.getElementById('#id').id = 'CB_name'
        }
    </script>

    <script>
        function dataSelected(s) {
            n = f.cover_band.selectedIndex
            if (n) alert({{ xx }})
        }
    </script>
</head>
    <body>
    {% block content %}{% endblock %}
    </body>
</html>
