{% extends "common.html" %}
{% block content %}
    {% load i18n %}

    <ul>
        <li><a href="#">MAIN MENU</a>
            <ul>
                <li><a href="#">Update</a></li>
                <li><a href="#">Add Cover Band</a>
                    <ul>
                        <li><a href="#">Open Folder</a></li>
                        <li><a href="#">Add</a></li>
                        <li><a href="#">Close</a></li>
                    </ul>
                </li>
                <li><a href="#">Delete Cover Band</a>
                    <ul>
                        <li><a href="#">Input Window</a></li>
                        <li><a href="#">Delete</a></li>
                        <li><a href="#">Close</a></li>
                    </ul>
                </li>
                <li><a href="#">Key Commands</a>
                    <ul>
                        <li><a href="#">Search</a></li>
                        <li><a href="#">Add Key</a></li>
                        <li><a href="#">Save Changes</a></li>
                        <li><a href="#">Close</a></li>
                    </ul>
                </li>
                <li><a href="#">Settings</a>
                    <ul>
                        <li><a href="#">Save Changes</a></li>
                        <li><a href="#">Close</a></li>
                    </ul>
                </li>
                <li><a href="#">About App</a>
                    <ul>
                        <li><a href="#">Save Changes</a></li>
                        <li><a href="#">Close</a></li>
                    </ul>
                </li>
                <li><a href="#">Help</a>
                    <ul>
                        <li><a href="#">Open Full Documentation</a></li>
                        <li><a href="#">Close</a></li>
                    </ul>
                </li>
                <li><a href="#">Exit</a>
                    <ul>
                        <li><a href="#">Yes</a></li>
                        <li><a href="#">No</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="#">Navigation Window</a>
            <ul>
                <li><a href="#">Track List Panel</a>
                    <ul>
                        <li><a href="#">Foreign Track List</a></li>
                        <li><a href="#">Domestic Track List</a></li>
                        <li><a href="#">Another Songs</a></li>
                        <li><a href="#">Reverse Button</a></li>
                    </ul>
                </li>
                <li><a href="#">Search Panel</a>
                    <ul>
                        <li><a href="#">Search Button</a>
                        <li><a href="#">Search Input "Artists"</a>
                        <li><a href="#">Search Input "Songs"</a>
                    </ul>
                </li>
                <li><a href="#">Full Track List</a></li>
            </ul>
        </li>
        <li><a href="#">Audio Player</a>
            <ul>
                <li><a href="#">Download Song</a></li>
            </ul>
        </li>
        <li><a href="#">Rating Information</a></li>
    </ul>

{% endblock %}