{% extends "common.html" %}
{% block content %}
    {% load i18n %}
    <div class="row">
    <div class="col-12" style="height: 40px">
        {% if msg %}
            <div class="alert alert-info" align="center">
                <strong>{% trans "Please, Try Again!" %}</strong>
            </div>
        {% endif %}
    </div>
    </div>



     <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="padding: 0px">
                <div style="height: 150px">
{#                    <a href="/" name="en" value="en">button</a>#}
                                        <form action="language" method="get" style="width: 300px">
                                    <select class="custom-select" list="settings_language_list" name="language">
                                        <datalist id="settings_language_list">
                                            <option value="en">{% trans "english" %}</option>
                                            <option value="ru">{% trans "russian" %}</option>
                                            <option value="be">{% trans "belorussian" %}</option>
                                        </datalist>
                                    </select>
                        <button  type="submit"
                                 class="btn btn-primary" title="{% trans "Save Changes" %}">{% trans "Save Changes" %}
                        </button>
                    </form>
                </div>
            </div>
                <div class="col-4" style="padding: 0px">
                </div>
            <div class="col-4" style="padding: 0px">
                <div class="card card-body bg-light">
                    <form method="post" action="/login_user">
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">{% trans "Username" %}</label>
                        <div class="col-sm-8">
                          <input type="text" name="username" class="form-control" id="" placeholder="{% trans "Username" %}">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">{% trans "Password" %}</label>
                        <div class="col-sm-8">
                          <input type="password" name="password" class="form-control" id="" placeholder="{% trans "Password" %}">
                        </div>

                      </div>
                      <div class="form-group row">
                        <div class="col-sm-8 offset-sm-0">
                          <button type="submit" class="btn btn-primary" data-toggle="modal">{% trans "Log In" %}</button>
                        </div>
                      </div>
                    </form>
                <div class="col-4" style="padding: 0px">
                    <a class="btn btn-primary" href="/registration">{% trans "Register" %}</a>
                </div>
                </div>
            </div>
        </div>
     </div>


{% endblock %}