{% extends "common.html" %}
{% block content %}
    {% load i18n %}
    <div class="row">
    <div class="col-12" style="height: 40px">
        {% if msg %}
            <div class="alert alert-info" align="center">
                <strong>{% trans "Пожалуйста, Попробуйте Ещё Раз!" %}</strong>
            </div>
        {% endif %}
    </div>
    </div>



     <div class="container-fluid">
        <div class="row">
            <div class="col-12" style="padding: 0px">
                <div style="height: 150px">
                </div>
            </div>
                <div class="col-4" style="padding: 0px">
                </div>
            <div class="col-4" style="padding: 0px">
                <div class="card card-body bg-light">
                    <form method="post" action="/login_user">
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">{% trans "Имя Пользователя" %}</label>
                        <div class="col-sm-8">
                          <input type="text" name="username" class="form-control" id="" placeholder="{% trans "Имя Пользователя" %}">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail3" class="col-sm-3 col-form-label">{% trans "Пороль" %}</label>
                        <div class="col-sm-8">
                          <input type="password" name="password" class="form-control" id="" placeholder="{% trans "Пороль" %}">
                        </div>

                      </div>
                      <div class="form-group row">
                        <div class="col-sm-8 offset-sm-0">
                          <button type="submit" class="btn btn-primary" data-toggle="modal">{% trans "Войти" %}</button>
                        </div>
                      </div>
                    </form>
                <div class="col-4" style="padding: 0px">
                    <a class="btn btn-primary" href="/registration">{% trans "Зарегистрироваться" %}</a>
                </div>
                </div>
            </div>
        </div>
     </div>


{% endblock %}